/* CONFIG GERAL */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0a0a0a;
  color: white;
}

/* MENU */
header {
  background: linear-gradient(90deg, #4216ff, #7facff);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: 0px 4px 10px #000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
}

nav ul li a:hover {
  background: #ffffff40;
  transform: scale(1.15);
  cursor: pointer;
}

/* SEÇÕES */
.caixa {
  width: 80%;
  margin: 40px auto;
  padding: 25px;
  background: #141414;
  border-radius: 12px;
  box-shadow: 0px 0px 15px #000;
}

.caixa h2 {
  color: #7facff;
  font-size: 28px;
}

/* FORMULÁRIO */
input, select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  background: #4216ff;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px #4216ff;
}

button:hover {
  transform: scale(1.1);
  background: #5d38ff;
  box-shadow: 0px 0px 15px #7facff;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 20px;
  background: #111;
  text-align: center;
  font-size: 16px;
  color: #bbb;
}

  