body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* INTRODUÇÃO */
#intro {
  text-align: center;
  padding-top: 150px;
}

#intro button {
  background: #00d0ff;
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* MENU LATERAL */
#menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100vh;
  background: #1a1a1a;
  padding: 20px;
  transition: 0.4s;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

#menu h2 {
  margin-top: 0;
  text-align: center;
  color: #00d0ff;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu li {
  background: #2a2a2a;
  padding: 15px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

#menu li:hover {
  background: #00d0ff;
  color: black;
}

/* CONTEÚDO */
main {
  margin-left: 280px;
  padding: 20px;
}

.conteudo {
  display: none;
}

/* MINI-JOGO */
#gameBox {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

#clickBtn {
  margin-top: 20px;
  padding: 12px 20px;
  background: #444;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}